<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Kaverts</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="../tutor-css/select-question.css" rel="stylesheet">
        <link rel="icon" href="../images/Logo.png">
    </head>

    <body>
        <header>
            <a href = "/"> <button id="home-button" > Home </button></a>
            <a href="/signout"> <button id="sign-out" > Sign Out </button></a>
            <a href="/profile"><button id="profile-button" > Profile </button></a>
        </header>
        <form action="/tutor-room" method="POST" id="meta-data">
            <input type="hidden" name="id" value="<%=id%>">
            <label id="question-info"><%=subject%>: <%=grade%></label>
            <input class="submit" type="submit" value="ANSWER">
        </form>
        <div id="prompt-div">
            <label><%=prompt%></label>
            <br>
            <% for (var i = 0; i < img_paths.length; i++) { %>
                <img class="question-pic" src="../uploads/<%=img_paths[i]%>">
            <% } %>
        </div>
        <footer>
            <p class="copyright">Copyright 2023 Kaverts &copy;</p>
        </footer>
    </body>
    
</html>